/* Styles that are shared between write and read mode */

$event-title-font-size: 2.5rem;

#text-area {
  height: 100%;
  padding: 0px 32px 32px 32px;

  display: flex;
  flex-direction: column;

  #title-area {
    margin-bottom: 16px;

    #event-title {
      font-size: 2.5rem; // TODO: Make this h1 and re-define vuetify variables accordingly.
      font-weight: 600;
    }

    #event-subtitle {
      color: grey;
    }
  }
}
