:root {
  --transition-duration: 300ms;
}

.zoom-transition {
  transition: transform var(--transition-duration) cubic-bezier(0.05, 0.61, 0.35, 1.12);
}

.time-marker {
  width: 2px;
  height: 12px;
  background-color: black;
  position: absolute;
  content-visibility: auto;
}
