:root {
  --transition-duration: 300ms;
  --transition-property: transform;
}

/**
* The transition class attached to all elements that should have a smooth transition
* Its property is set to none during space extension and cutoff.
*/
.zoom-transition {
  transition: var(--transition-property) var(--transition-duration)
    cubic-bezier(0.05, 0.61, 0.35, 1.12);
}

// Time Marker styles

$time-marker-container-width: 100px;

.time-marker-container {
  position: absolute;
  content-visibility: auto;
  width: $time-marker-container-width;
  left: -$time-marker-container-width / 2;

  display: flex;
  flex-direction: column;
  align-items: center;

  .time-marker {
    width: 2px;
    height: 12px;
    background-color: black;
  }
}
